# Binaries & Compiled Files
*.exe
*.pdb
*.obj
*.o
*.dll
*.so
*.dylib
bin/
build/
dist/_CPack_Packages/

# Cloned Test Repositories & External Datasets
test_repos/

# Python Cache & Databases
__pycache__/
*.py[cod]
*$py.class
*.sqlite
*.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
